{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "global-require": 0,
        "import/no-dynamic-require": 0,
        "prefer-rest-params": 0,
        "import/no-extraneous-dependencies": 0,
        "react/forbid-prop-types": 0,
        "react/prefer-stateless-function": 0,
        "no-unused-vars": [1, {
            "argsIgnorePattern": "[iI]gnored"
        }]
    },
    "globals": {
        "document": true,
        "module": true,
        "alert": true
    }
}