@import "../external/semantic.css";

/* body, html {
  background: #f7f7f7 !important;
} */

.root-content {
  padding-top: 54px;
  height: 100vh;
}

.root-content.transparency {
  padding-top: 0;
}

.filled {
  height: 100%;
  min-height: 100%;
}

.centered-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 340px !important;
  box-shadow: none !important;
  border: 1px solid #d4d4d5 !important;
}

.auth-card > .content {
  padding: 2em !important;
}

.background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.blured-image {
  filter: blur(10px);
  transform: scale3d(1.1, 1.1, 1);
  box-shadow: inset 0 0 0 100vh rgba(255, 255, 255, .5);
}

.menu-transparent {
  background: rgba(27, 28, 29, 0.4) !important;
}

.transparency-container {
  padding-top: 54px;
}

.user-cover-backdrop {
  width: 100%;
  height: 400px;
  background: #424242;
  position: relative;
  overflow: hidden;
}

.user-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .6;
}

.user-no-cover {
  background-size: auto;
  background-repeat: repeat;
}

.user-cover-container {
  display: flex;
  align-items: flex-end;
}

.user-cover-content {
  height: 150px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 32px;
}

.page-content {
  padding: 32px 0 180px;
}

.menu-transparency {
  transition: background .3s ease-in-out;
  will-change: background;
  backdrop-filter: blur(10px);
}

.segment-heading {
  margin-bottom: -1rem !important;
  padding: .65em 1em !important;
}

.dropdown-active {
  background: rgba(0, 0, 0, 0.05) !important;
  color: rgba(0, 0, 0, 0.95) !important;
  font-weight: normal !important;
  box-shadow: none !important;
}

.sort-field {
  padding: 6px;
  border-radius: 4px;
  margin: 0 0 .5em;
}

.sort-field .checkbox {
  width: 100%;
}

.sort-field .checkbox label {
  color: #fff !important;
}

.field-planned {
  color: #2185D0 !important;
}


.field-current {
  color: #21BA45 !important;
}

.field-completed {
  color: #A333C8 !important;
}

.field-paused {
  color: #767676 !important;
}

.field-dropped {
  color: #DB2828 !important;
}

.library-table.ui.table thead th {
  padding: 0.7em 0.78571429em;
  /* border-bottom: none; */
}

.library-table-header tr th {
  padding: 0.25em 0.78571429em !important;
  border-radius: 0 !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1) !important;
}

.library-table.ui.table td {
  padding: 0.5em 0.78571429em;
}

.library-image-wrapper {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.library-image {
  background-size: cover;
  background-position: center;
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.field-planned.active {
  background: #2185D0 !important;
  color: #fff !important;
}


.field-current.active {
  background: #21BA45 !important;
  color: #fff !important;
}

.field-completed.active {
  background: #A333C8 !important;
  color: #fff !important;
}

.field-paused.active {
  background: #767676 !important;
  color: #fff !important;
}

.field-dropped.active {
  background: #DB2828 !important;
  color: #fff !important;
}

.flex-table {
  padding: 0 !important;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
}

.list-header .list-cover {
  display: block;
  max-width: 60px;
  padding: 0;
}

.list-header > div {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.list-header .list-title {
  flex: 5;
  padding-left: 15px;
  text-align: left;
}

.list-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: .15s;
}

.list-entry > div {
  flex: 1;
  padding: 18px 20px;
  text-align: center;
}

.list-entry .list-cover {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  max-width: 60px;
  min-width: 60px;
  padding: 0;
}

.list-entry .list-title {
  flex: 5;
  padding-left: 15px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
  font-weight: 600;
}

.list-entry .list-cover .list-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  height: 40px;
  width: 40px;
}

.list-entry .list-cover .list-edit {
  align-items: center;
  border-radius: 0;
  background: rgba(0,0,0,.2);
  transition: .1s;
  color: #fff;
  cursor: pointer;
  display: none;
  height: 40px;
  justify-content: center;
  width: 40px;
  z-index: 1;
}

.list-entry .list-cover .list-edit:hover {
  background: rgba(0,0,0,.4);
}

.list-entry .list-cover .list-edit > i {
  margin: 0;
  display: flex;
  margin-top: -5px;
}

.list-entry.list-planned:hover {
  background: #2185D0 !important;
  color: #fff !important;
}


.list-entry.list-current:hover {
  background: #21BA45 !important;
  color: #fff !important;
}

.list-entry.list-completed:hover {
  background: #A333C8 !important;
  color: #fff !important;
}

.list-entry.list-paused:hover {
  background: #767676 !important;
  color: #fff !important;
}

.list-entry.list-dropped:hover {
  background: #DB2828 !important;
  color: #fff !important;
}

.list-entry:hover .list-cover .list-image {
  border-radius: 0;
  box-shadow: 0 8px 28px -6px rgba(49,54,68,.3);
  display: block;
  height: 200px;
  left: -169px;
  padding: 0;
  position: absolute;
  top: -60px;
  width: 140px;
}

.list-entry:hover .list-cover .list-edit {
  display: flex;
}

.list-entries .list-entry:last-child {
  border-radius: 0;
}

.flat-menu {
  margin-top: 0px !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  border-right: none !important;
  border-left: none !important;
  position: sticky;
  top: 54px;
  z-index: 2;
}

.sticky-block {
  position: sticky;
  z-index: 0;
  top: 82px;
}

.sticky-block.with-menu {
  top: 115px;
}

.segment,
.ui.input > input,
.ui.selection.dropdown,
.ui.secondary.vertical.menu > .item,
.ui.menu .dropdown.item .menu,
.ui.label,
.ui.card,
.ui.button {
  border-radius: 0 !important;
}

.ui.segment {
  box-shadow: none !important;
}

.ui.raised.segment,
.ui.raised.segments {
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15) !important;
}

.flat-menu.ui.menu .item > .label {
  padding: 0.4em 0.78571429em 0.3em;
  box-shadow: 0 0 0 1px #d54343;
  color: #999999 !important;
  background: transparent;

  transition: background 0.1s ease, color 0.1s ease;
}


.flat-menu.ui.menu .item:hover > .label,
.flat-menu.ui.menu .item.active > .label {
  color: #fff !important;
  background: #d54343;
}

.entity-row {
  margin: 0 -0.5rem !important;
  width: calc(100% + 1rem) !important;
}

.ui.grid > .column:not(.entity-row),
.ui.grid > .entity-row > .entity-column {
  padding-top: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}


.entity {
  position: relative;
  display: block;
}

.entity:hover .entity-box {
  visibility: visible;
  z-index: 5;
}

.entity-box {
  width: calc(100% + 2rem);
  height: auto;
  position: absolute;
  visibility: hidden;
  z-index: 0;
  background: #fff;

  top: -1rem;
  left: -1rem;
  padding: 1rem;
  box-shadow: 0 0 0 1px #d54343, 0 12px 24px -6px rgba(0, 0, 0, .15);
  /* box-shadow: 0 0 0 1px #d54343; rgba(34, 36, 38, 0.1); */
}

.entity-inner {
  visibility: visible;
}

.poster {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 142%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.entity-info {
  padding-top: .5rem;
}

.entity-info .divider {
  margin: 4px 0 !important;
  border: none !important;
}

.entity-info .header {
  margin: 0;
}

.entity-meta {
  color: #767676;
  font-size: .9em;
}

.entity-meta span ~ span:before {
  content: '\00b7';
  font-size: 1.3em;
  position: relative;
  top: .1rem;
  padding: 0 .25rem;
  color: #d4d4d5;
}

.entity-more {
  display: none;
  padding-top: 8px;
}

.entity-genres {
  margin: -0.14285714em;
}

.entity-genres .label {
  margin: 0.14285714em !important;
}

.entity:hover .entity-more {
  display: block;
}

.entity-description-wrapper {
  font-size: .86em;
  color: #767676;
  line-height: 1.43;
  margin-top: 8px;
}

.entity-description-wrapper > div:nth-child(2) {
  display: none;
}

.entity-description-wrapper:before,
.entity-description-wrapper:after {
  content: '';
  display: block;
  width: 100%;
  height: 12px;
  position: absolute;
  left: 0;
  z-index: 1;
}

.entity-description-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

.entity-description-wrapper:after {
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.entity-description {
  padding: 4px 10px 4px 0;
}

.ui.selection.active.dropdown,
.ui.selection.dropdown:focus,
.ui.selection.active.dropdown:hover {
  border-color: #d54343;
}

.ui.selection.dropdown .menu {
  margin: -1px -1px 0px !important;
}

.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown:hover .menu {
  border-color: #d54343;
  border-radius: 0 !important;
}

.ui.input.focus > input,
.ui.input > input:focus {
  border-color: #d54343;
}

.ui.circular.button {
  border-radius: 10em !important;
}

.inline-block {
  display: flex;
}

.inline-block.align-top {
  align-items: flex-start;
}

.inline-block.align-center {
  align-items: center;
}

.inline-block.align-bottom {
  align-items: flex-end;
}

.ui.form textarea,
.ui.form input {
  border-radius: 0 !important;
}

.list-remove-button {
  height: 37.67px;
  width: 36px;
  flex-shrink: 0;
  padding: 0 !important;
  margin-right: -1px !important;
}

.list-remove-button:hover {
  z-index: 1;
}

.segment-no-padding {
  padding: 0 !important;
}

.poster-upload {
  height: 285px;
}

.poster-upload-image {
  width: 200px;
  border-right: 1px solid rgba(34, 36, 38, 0.15);
  flex-shrink: 0;
  position: relative;
}

.poster-upload-content {
  width: 100%;
  text-align: center;
  position: relative;
}

.dropzone {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  border-width: 0;
  border-color: transparent;
}

.cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover-upload-image {
  width: 100%;
  height: 151px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  flex-shrink: 0;
  position: relative;
}

.cover-upload-content {
  width: 100%;
  position: relative;
  height: 131px;
}
