/* Буцтрап не удалять. Он кастомизирован напрямую! */
/* @import "external/bootstrap.css";

@import "external/materialdesignicons.css";
@import "external/slick.min.css";
@import "external/slick-theme.min.css";
@import "external/react-datetime.css";
@import "external/react-select.css";

@import "cropperjs/dist/cropper";

@import "includes/variables.css";
@import "includes/fonts.css";
@import "includes/general.css";
@import "includes/loading.css";
@import "includes/modals.css"; */

@import "external/material-components-web.css";
@import "external/icon.css";

:root {
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-light);
  --mdc-layout-grid-column-width-desktop: 67px;
  --mdc-layout-grid-column-width-tablet: 67px;
  --mdc-layout-grid-column-width-phone: 67px;
}

html, body, #root {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
}
