.block {
    margin-bottom: 20px;

    &.large {
        margin-bottom: 40px;
        .block-header {
            margin-bottom: 20px;
        }
    }

    .block-header {
        margin-bottom: 15px;
    }
}

.block-header {
    display: flex;
    align-items: center;

    h1, h2 {
        margin-bottom: 0;
    }
}

.block-buttons {
    display: flex;
    margin-left: auto;

    > div {
        display: flex;
    }
}