.block-subtitle {
    letter-spacing: .3px;
    position: relative;
    margin-top: 0;
    width: 100%;
    z-index: 1;
}

.stats-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
        padding-bottom: 6px;
    }
}
