.categories {
    display: flex;
    flex-direction: column;
}

.category-item {
    display: flex;
    align-items: center;
    border-color: transparent;
    color: #666;

    &:not(:last-child) {
        margin-bottom: 8px;
    }

    &:hover {
        border-color: #ddd;
        background-color: white;
        color: inherit;
    }

    &.active {
        border-color: #d54343;
    }

    &:focus,
    &:active,
    &.active {
        box-shadow: none;
    }
    
    i {
        font-size: 20px;
    }

    span {
        margin-left: 12px;
        line-height: 28px;
    }
}