.activity-legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -24px;
    position: relative;
}

.activity-legend-item {
    display: flex;
    align-items: center;
    padding: 4px 0;
    &:not(:last-child) {
        margin-right: 6px;
    }
    span {
        font-weight: bold;
        font-size: 12px;
        line-height: 0;
    }
}

.activity-legend-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}