.comment-creator {
    position: relative;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 12px;
    background-color: #f6f5f3;
}

.comment-creator-short {
    display: flex;
    width: 100%;
    
    textarea {
        width: 100%;
        border: none;
        resize: none;
        padding: 0;
        margin-top: 5px;
        background: transparent;
    }
}

.comment-creator-full {
    display: flex;
    flex-direction: column;
    width: 100%;

    textarea {
        width: 100%;
        border: none;
        resize: none;
        padding: 0;
        margin-top: 5px;
        background: transparent;
    }
}