.entity {
    width: 160px;
}

.entity:hover {
    .entity-title {
        color: $primary-color;
    }
}

.entity-title {
    margin-top: 8px;
    display: block;
    color: #404040;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
}