.explore-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.explore-header {
    display: flex;
    align-items: baseline;
}

.explore-filter {
    margin-right: 16px;
    padding: 0 6px;
    font-size: 24px;
    color: $font-color;

    &:hover {
        color: $primary-color;
    }
}

@media screen and (max-width: 650px) {
    .explore-filter {
        margin-right: 6px;
        font-size: 18px;
    }
}