html, body {
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

body {
    font-family: "Gotham Pro", sans-serif;
    color: $font-color;
}

:focus {
    outline: none;
}