html, body {
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

body {
    font-family: "Gotham Pro", sans-serif;
    color: $font-color;
}

a {
    color: $font-color;
}

a:hover {
    color: $primary-color;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

:focus {
    outline: none;
}

.embed-poster {
    padding-bottom: 140%;
}

.embed-poster > img {
    object-fit: cover;
}