header {
    background-color: $primary-color;
    color: $font-color-inverted;
}

header,
header > div,
header > div > div,
.header-inner {
    height: 48px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    padding: 8px;
}

.header-left {
    margin-left: 10px;
}

.header-menu {
    margin: auto;
    padding: 0 20px;
    display: flex;
}

.header-right {
    margin-left: auto;
}

.header-item {
    color: rgba(255, 255, 255, 0.6);
    height: 48px;
    display: flex;
    align-items: center;
}

.header-item:not(:last-child) {
    margin-right: 20px;
}

.header-item:hover {
    color: $font-color-inverted;
    text-decoration: none;
}

.header-item:focus,
.header-item:active {
    color: $font-color-inverted;
    text-decoration: none;
}

.header-item .mdi {
    font-size: 20px;
    display: flex;
    margin-right: 4px;
}

.header-search {
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 8px;
    height: 30px;
    border-radius: 0;
    width: 320px;
}

.header-search:focus {
    box-shadow: none;
    border-color: $font-color-inverted;
}

.header-search::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.6);}
.header-search::-moz-placeholder          {color: rgba(255, 255, 255, 0.6);}/* Firefox 19+ */
.header-search:-moz-placeholder           {color: rgba(255, 255, 255, 0.6);}/* Firefox 18- */
.header-search:-ms-input-placeholder      {color: rgba(255, 255, 255, 0.6);}