.hello {
    h4 {
        margin-top: 0;
        margin-bottom: 4px;
    }

    ol {
        margin-top: 16px;
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        counter-reset: hello-counter;
        
        li {
            font-weight: bold;
            font-size: 12px;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &:before {
                content: counter(hello-counter);
                counter-increment: hello-counter;
                font-size: 14px;
                font-weight: bold;
                color: #d54343;
                border: 1px solid #d54343;
                margin-right: 10px;
                line-height: 24px;
                display: inline-block;
                width: 25px;
                height: 25px;
                text-align: center;
            }

            &.completed {
                opacity: .4;

                span {
                    text-decoration: line-through;
                }

                &:before {
                    background-color: #d54343;
                    color: white;
                }
            }

            a {
                border-bottom: 1px solid;
            }
        }
    }
}

	