$font-family: 'Gotham Pro', sans-serif;

$text-default: #969696;
$text-secondary: color($text-default blackness(50%));

$color-background: #0b0b0b;
$color-background-dark: #060606;

$color-border: #353535;

$color-primary: #d54343;
$color-primary-light: #d9534f;
$color-primary-dark: color($color-primary blackness(50%));

$color-online: #82bf24;
$color-offline: $text-secondary;